.container-nosotros {
  min-height: 210vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 90px 0 0;
  max-width: 100%;
  text-align: center;
}

.title-nosotros {
  margin: 36px 0;
}

.section {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.descripcion-empresa {
  margin-bottom: 80px;
}

.card-descripcion-empresa {
  margin: 0 86px 20px;
  padding: 44px 36px;
  border: 1px solid rgba(128, 128, 128, 0.629);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  opacity: 0;
  transform: translateY(20px);
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.card-descripcion-empresa h3 {
  margin: 0 0 24px;
}

.card-descripcion-empresa p {
  text-align: justify;
}

.btn-contacto {
  background-color: rgba(63, 200, 61, 0.9);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-contacto:active {
  transform: scale(0.95);
  background-color: rgb(63, 200, 61);
}

.btn-contacto:hover {
  background-color: rgba(63, 200, 61);
}

.btn-contacto:focus {
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section-filosofia-container {
  display: flex;
  max-height: 100%;
}

.section-filosofia-container img {
  margin-left: 36px;
}

.content-filosofia-container {
  display: flex;
  flex-direction: column;
}

.content-filosofia {
  margin: 0 36px 20px;
  padding: 30px 36px 0;
  opacity: 0;
  transform: translateY(20px);
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.title {
  margin: 0 0 24px;
}

.description {
  text-align: justify;
}

.card-descripcion-empresa.animate {
  animation-name: appearFromCenter;
}

.content-filosofia.slide-left {
  animation-name: slideInLeft;
}

.content-filosofia.slide-right {
  animation-name: slideInRight;
}

@keyframes appearFromCenter {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .section-filosofia-container {
    flex-direction: column;
    align-items: center;
  }

  .section-filosofia-container img {
    margin: 0 0 20px;
    width: 80%;
  }

  .content-filosofia-container {
    flex-direction: column;
    margin: 0 20px;
  }

  .content-filosofia {
    margin: 20px 0;
    padding: 0 20px;
  }
}
