.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Ajusta el espacio entre secciones */
  padding: 20px;
  background-image: url('../../assets//Sostenibilidad.png');
  background-size: cover; /* Ajusta para que la imagen ocupe todo el contenedor */
  background-position: center;
  background-color: rgba(255, 255, 255, 0.5); /* Blanco semitransparente */
  background-blend-mode: overlay; /* Mezcla el color con la imagen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */

}

.titleSostenibilidad 
{
  font-size: 4rem; /* Tamaño del título */
  color: #2e7d32; /* Verde oscuro para sostenibilidad */
  margin-bottom: 20px; /* Espacio con los componentes siguientes */
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
  margin: 0;

}

.descripcion {
  text-align: center;
  font-size: 1.5rem;
}

