.section {
  min-height: 110vh;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  height: 100vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Background */
  background-image: url('../../assets/Hojas.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.349);
  background-blend-mode: overlay;
}

.titleSostenibilidad {
  font-size: 3.5rem;
  color: #00ba49;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: -50px;
  margin-bottom: 10px;
}


.descripcion {
  text-align: center;
  font-size: 1.5rem;
  color: #2d2920;
}

@media (max-width: 860px) {

  .titleSostenibilidad {
    font-size: 3em;
  }

}