/* Estilo para el contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Contenedor de las EcoCards */
.ecoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Estilo para las tarjetas pequeñas */
.smallCards {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}

/* Estilo individual para cada tarjeta */
.card {
  background-color: #29522a;
  color: #e3f57f;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 170px;
  text-align: center;
}

/* Estilo para los íconos */
.icon {
  font-size: 48px;
  margin-bottom: 15px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .card {
    width: 100px;
    height: 90px;
    padding: 12px;
  }

  .smallCards {
    gap: 10px;
  }

  .icon {
    font-size: 20px;
  }

  .card h3 {
    font-size: 14px; 
  }
}

