.section {
  background-image: url('../../assets/Back.png'); 
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #0D6D95; /* Naranja suave */
}

.description {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
}

.opcionesList {
  list-style: none;
  padding: 0;
}

.option {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.05); /* Fondo sutil gris claro */
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.option:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.icon {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #65a867; /* Verde sutil */
}

.option:nth-child(even) {
  background: rgba(100, 204, 172, 0.1); /* Verde claro */
}

.option:nth-child(odd) {
  background: rgba(255, 145, 77, 0.1); /* Naranja claro */
}
