/* Main container for products */
.productosContainer {
    margin: 2em 0;
}

.productsRow {
    display: flex;
    flex-wrap: wrap;  /* Allow wrapping of items */
    justify-content: space-between;
    gap: 1em;  /* Space between items */
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
    flex-basis: calc(33.333% - 1em); /* 3 cards per row */
    margin-bottom: 1em;
}

.card-img-top {
    object-fit: cover;
    border-radius: 8px;
    width: 100%;  /* Ensure the image fills the card */
    height: 200px; /* Fixed height for images */
}

.card-body {
    padding: 1em;
}

.card-footer {
    padding: 0.5em;
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
}

/* Responsiveness */
@media (max-width: 992px) {
    .card {
        flex-basis: calc(50% - 1em);  /* 2 cards per row on medium screens */
    }
}

@media (max-width: 768px) {
    .card {
        flex-basis: 100%;  /* 1 card per row on smaller screens */
    }

    /* Adjust the title size on small screens */
    .content h1 {
        font-size: 2rem;
    }

    /* Adjust section padding on smaller screens */
    .section {
        padding: 3rem 0.6rem;
    }

    /* Adjust text size for mobile */
    .content p {
        font-size: 1rem;
    }
}
