.product-section{
    background-color: aqua;
}
.productos-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    max-width: 100%;
}

.arrow-left, .arrow-right{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 860px) {

    .arrow-left, .arrow-right{
        width: 25px;
        height: 25px;
    }
}
