.productCarousel .carousel-control-prev,
.productCarousel .carousel-control-next {
  background-color: rgba(0, 0, 255, 0.2); /* Fondo azul claro con transparencia */
  border-radius: 50%; /* Redondeado */
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productCarousel .carousel-control-prev-icon,
.productCarousel .carousel-control-next-icon {
  background-color: transparent; /* Asegura que el ícono sea transparente */
}


.productCarousel {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .productCard {
    width: 100%;
    max-width: 400px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .productCard img {
    height: 200px;
    object-fit: cover;
  }
  
  .checkIcon {
    color: green;
    margin-right: 5px;
  }
  
