.container-ventajas-logistica {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.title-ventajas-logistica {
    margin: 20px 0 40px 0;
    font-weight: 700 !important;
}

.content-ventajas-logistica {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 90%;
    gap: 40px;
    /* Espacio entre columnas */
    flex-wrap: wrap;
    /* Ajusta el contenido en pantallas pequeñas */
}

.ventajas-logistica-img {
    display: flex;
    flex-direction: row;
    max-width: 40%;
    /* Limita el ancho de las imágenes */
    align-items: center;
    gap: 20px;
}

.ventajas-logistica-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.ventajas-logistica-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.ventajas-logistica-img-title {
    margin-top: 8px;
    font-size: 1em;
    font-style: italic;
    text-align: center;
}

.ventajas-logistica-description {
    flex: 1;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
}

.ultrabin-title-color {
    color: rgb(255, 165, 0);
}

.octobin-title-color {
    color: rgba(0, 89, 255, 0.9);
}