.container-ventajas-logistica {
    width: 100%;
    min-height: 50vh; /* Altura mínima */
    padding: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9; /* Fondo claro */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-ventajas-logistica {
    font-size: 1.8rem;
    font-weight: bold;
    color: #0059FF; /* Azul primario */
    margin: 20px 0;
    text-align: center;
}

.content-ventajas-logistica {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.ventajas-logistica-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.ventajas-logistica-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.ventajas-logistica-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.ventajas-logistica-img-title {
    margin-top: 8px;
    font-size: 1em;
    font-style: italic;
    text-align: center;
}

.ventajas-logistica-description {
    flex: 1;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 500px; /* Ajusta según lo necesites */
    margin: 0 auto; 
}

.ultrabin-title-color {
    color: rgb(255, 165, 0);
}

.octobin-title-color {
    color: rgba(0, 89, 255, 0.9);
}


@media (max-width: 768px) {
    .container-usos,
    .container-ventajas-logistica {
        padding: 10px;
    }

    .container-usos-title,
    .title-ventajas-logistica {
        font-size: 1.5rem;
    }
 
        .ventajas-logistica-description {
            max-width: 90%; /* Más ancho en pantallas pequeñas */
            font-size: 0.9rem; /* Reducir ligeramente el tamaño del texto */
        }
}