.carouselItem {
    position: relative;
  }
  
  .carouselCaption {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .carouselItem img {
    object-fit: cover;
    height: 400px;
  }
  