.section-contacto {
    background-color: rgba(168, 230, 163, 0.3);
    padding: 80px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-contacto {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.title-contacto {
    align-self: flex-start;
    margin-bottom: 36px;
    font-weight: bold !important;
    color:  rgba(0, 89, 255, 0.9);
}

.texto-parpadeante {
    animation: parpadeo 1s infinite; 
}

@keyframes parpadeo {
    0%, 100% {
        opacity: 1; /* Visible */
    }
    50% {
        opacity: 0.6; /* Invisible */
    }
}


.datos-contacto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttons-contacto button {
    margin: 16px 0;
    padding: 4px 16px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-contactar,
.btn-contactar:active {
    background-color: rgb(63, 200, 61, 0.9);
}

.btn-contactar:hover {
    background-color: rgb(63, 200, 61, 1);
}

.btn-cotizar,
.btn-cotizar:active {
    background-color:  rgba(255, 165, 0, 0.9);
}

.btn-cotizar:hover {
    background-color: rgba(255, 166, 0, 1);
}

.btn-contactar:hover,
.btn-cotizar:hover {
    transform: scale(1.05);
    color: white;
}

.btn-contactar:focus,
.btn-cotizar:focus {
    outline: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-contactar:active,
.btn-cotizar:active {
    transform: scale(0.95);
}