.card {
    border: 2px solid #0D6D95; 
    border-radius: 10px;   
    padding: 16px;         
    background-color: #f9f9f9; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 100px;     
    max-width: 600px;      
    text-align: center;    
}

.video {
    max-width: 100%;      
    height: auto;        
    border-radius: 8px;    
}
