.inicioSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../assets/inicioImg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.inicioContent h1 {
    font-size: 2.5rem;
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9); /* Sombra más intensa */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.inicioContent h1 span {
    display: block;
    line-height: 1.3;
}

.inicioParagraph {
    margin-top: 0.5em;
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.2rem;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7); /* Sombra para mejorar legibilidad */
}


.inicioContent {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    max-width: 600px;
}

/* Contenedor flexible para los botones */
.inicioButtonsContainer {
    display: flex;
    gap: 20px; /* Espacio entre los botones */
    justify-content: center;
    align-items: center;
}

.inicioButtonNaranja {
    padding: 15px 30px;
    background-color: rgba(255, 165, 0, 0.9);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.inicioButtonNaranja:hover {
    background-color: rgba(255, 140, 0, 1); /* Naranja más fuerte */
    transform: scale(1.1); /* Efecto de agrandado al pasar el ratón */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.inicioButtonNaranja:active {
    transform: scale(1);
}

.inicioButtonVerde {
    padding: 15px 30px;
    background-color: rgb(63, 200, 61);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.inicioButtonVerde:hover {
    background-color: rgba(40, 167, 69, 1);
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.inicioButtonVerde:active {
    transform: scale(1);
}
