
.section {
  padding:  80px 20px;
  background-color: #f4f4f4;  
  text-align: center;
  min-height: 200vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
}

.title {
  color: #33c86d;
  font-size: 3em;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 50px; 
  margin-top: 30px;
}

.column {
  flex: 1; 
  min-width: 300px; 
}


.container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se adapten en pantallas pequeñas */
  gap: 20px; /* Espaciado entre los componentes */
  justify-content: space-between; /* Distribuye los componentes */
  align-items: flex-start; /* Alinea los componentes al inicio vertical */
  padding: 20px;
}

.container > * {
  flex: 1; /* Asegura que ambos componentes ocupen el mismo espacio */
  min-width: 300px; /* Evita que se vuelvan demasiado pequeños en pantallas pequeñas */
}

h2 {
  margin-bottom: 2rem;
  margin-top: 3.2rem;
  color: #333;  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.5em;
  font-weight: bolder;
  text-align: center;
  position: relative;
}

.slider-container {
  margin-top: 20px;
}

.button-container {
  margin-top: 30px;
}

.button-cotizacion {
  background-color: #FFA500 !important;  
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-cotizacion:hover {
  background-color: #FF8C00;  
}

.button-cotizacion:focus {
  outline: none;
}
