/* Estilos para la sección "Nuestros Productos" */
#NuestrosProductos {
  padding: 50px 20px;
  background-color: #f4f4f4;  /* Color de fondo suave */
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;  /* Color del texto del título */
  font-family: 'Georgia', serif;
}

.slider-container {
  margin-top: 20px;
}

.button-container {
  margin-top: 30px;
}

.button-cotizacion {
  background-color: #FFA500 !important;  /* Naranja */
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-cotizacion:hover {
  background-color: #FF8C00;  /* Naranja más oscuro para el hover */
}

.button-cotizacion:focus {
  outline: none;
}
