/* Estilos para la sección "Nuestros Productos" */
.section {
  padding:  80px 20px;
  background-color: #f4f4f4;  /* Color de fondo suave */
  text-align: center;
  min-height: 100vh;
  display: flex; /* Hacer que el contenido sea fluido */
  flex-direction: column; /* Contenido fluye verticalmente */
  align-items: center; /* Centrar horizontalmente el contenido */
  justify-content: center; /* Centrar verticalmente el contenido */
}

h2 {
  margin-bottom: 2rem;
  margin-top: 3.2rem;
  color: #333;  /* Color del texto del título */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.5em;
  font-weight: bolder;
  text-align: center;
  position: relative;
}

.slider-container {
  margin-top: 20px;
}

.button-container {
  margin-top: 30px;
}

.button-cotizacion {
  background-color: #FFA500 !important;  /* Naranja */
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-cotizacion:hover {
  background-color: #FF8C00;  /* Naranja más oscuro para el hover */
}

.button-cotizacion:focus {
  outline: none;
}
