.section-productos {
    padding: 80px 20px;
    background: linear-gradient(to bottom, #FFFFFF 10%, #A8E6A3 90%);
    text-align: center;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-productos-title {
    color:  rgba(0, 89, 255, 0.9);
    font-style: bold;
    font-size: 3em;
    margin-top: 12px;
    margin-bottom: 24px;
}