.container {
    display: flex;
}

.slider-container {
    max-width: 90% !important;
    height: max-content;
}


.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100%;
}


.swiper-slide .card {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.slider-controller {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.swiper-button-prev,
.swiper-button-next {

    padding: 12px;
    color: black;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

@media (max-width: 768px) {
    .swiper-slide {
        flex: 1 1 100%;
        margin: 0 5px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        font-size: 18px;
        padding: 8px;
    }
}