/* VentajasLogisticas.module.css */
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .section {
    margin-top: 20px;
  }
  
  .subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1e90ff;
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .imageContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacio entre las imágenes */
    margin-top: 20px;
  }
  
  .imageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .image {
    max-width: 80%; /* Ajusta el tamaño de las imágenes */
    height: auto;
    margin-bottom: 10px; /* Espacio entre imagen y texto */
  }
  
  .imageText {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    margin-top: 5px;
  }
  