body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para encabezados, párrafos, enlaces, etc. */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #007bff;
    text-decoration: none;
}



